<head>
<link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet">    <title>
        vue js pet depot
    </title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js">
    </script>

</head>
<body>
    <div id="app">
        <header>
            <button v-on:click="showCheckout">
                {{cartItemCount}} 
            <i class="fa-solid fa-cart-shopping"></i>       
                     Check out
            </button>
            <h1 v-text="sitename"></h1>
        </header>
        <main>
            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="Product.image" v-bind:alt="Product.title">
                </figure>
                <h2 v-text="Product.title"></h2>
                <p v-text="Product.description"></p>
                <p>price</p><h2 v-text="Product.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>

    
            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="math.image" v-bind:alt="math.title">
                </figure>
                <h2 v-text="math.title"></h2>
                <p v-text="math.description"></p>
                <p>price</p><h2 v-text="math.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="music.image" v-bind:alt="music.title">
                </figure>
                <h2 v-text="music.title"></h2>
                <p v-text="music.description"></p>
                <p>price</p><h2 v-text="music.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="basketball.image" v-bind:alt="basketball.title">
                </figure>
                <h2 v-text="basketball.title"></h2>
                <p v-text="basketball.description"></p>
                <p>price</p><h2 v-text="basketball.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="artandcraft.image" v-bind:alt="artandcraft.title">
                </figure>
                <h2 v-text="artandcraft.title"></h2>
                <p v-text="artandcraft.description"></p>
                <p>price</p><h2 v-text="artandcraft.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="robotics.image" v-bind:alt="robotics.title">
                </figure>
                <h2 v-text="robotics.title"></h2>
                <p v-text="robotics.description"></p>
                <p>price</p><h2 v-text="robotics.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="poetry.image" v-bind:alt="poetry.title">
                </figure>
                <h2 v-text="poetry.title"></h2>
                <p v-text="poetry.description"></p>
                <p>price</p><h2 v-text="poetry.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="chess.image" v-bind:alt="chess.title">
                </figure>
                <h2 v-text="chess.title"></h2>
                <p v-text="chess.description"></p>
                <p>price</p><h2 v-text="chess.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="culinary.image" v-bind:alt="culinary.title">
                </figure>
                <h2 v-text="culinary.title"></h2>
                <p v-text="culinary.description"></p>
                <p>price</p><h2 v-text="culinary.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>

            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="fashion.image" v-bind:alt="fashion.title">
                </figure>
                <h2 v-text="fashion.title"></h2>
                <p v-text="fashion.description"></p>
                <p>price</p><h2 v-text="fashion.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>



            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="photography.image" v-bind:alt="photography.title">
                </figure>
                <h2 v-text="photography.title"></h2>
                <p v-text="photography.description"></p>
                <p>price</p><h2 v-text="photography.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="volleyball.image" v-bind:alt="volleyball.title">
                </figure>
                <h2 v-text="volleyball.title"></h2>
                <p v-text="volleyball.description"></p>
                <p>price</p><h2 v-text="volleyball.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="football.image" v-bind:alt="football.title">
                </figure>
                <h2 v-text="football.title"></h2>
                <p v-text="football.description"></p>
                <p>price</p><h2 v-text="football.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>


            <div v-if="showproduct">
                <figure>
                    <img v-bind:src="gaming.image" v-bind:alt="gaming.title">
                </figure>
                <h2 v-text="gaming.title"></h2>
                <p v-text="gaming.description"></p>
                <p>price</p><h2 v-text="gaming.price"></h2>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add to cart
                </button>
                <button disabled v-else>
                    add to cart
                </button>
            </div>



            <div v-else>
            <h2>Checkout</h2>
            <p>
                <strong>First name:</strong>
                <input v-model.trim="order.firstname"/>
            </p>
            <p>
                <strong>Last name:</strong>
                <input v-model.trim="order.lastname"/>
            </p>
            <p>
                <strong> Address:</strong>
                <input v-model="order.address"/>
            </p>
            <p>
                <strong>City:</strong>
                <input v-model="order.city"/>
            </p>
            <p>
                <strong>State:</strong>
                <select v-model="order.state">
                    <option disabled value="">State</option>
                    <option v-for="(state, key) in states" v-bind:value="state">{{ key }}</option>
                    <!-- <option v-bind:value="states.AL">AL</option>
                    <option v-bind:value="states.AR">AR</option>
                    <option v-bind:value="states.CA">CA</option>
                    <option v-bind:value="states.NV">NV</option> -->
                </select>
            </p>
            <P>
                <strong>Zip Code:</strong>
                <input v-model.number="order.zip" type="number"/>
            </P>
            <p>
                <input type="checkbox" name="" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontsendGifts" />
                <label for="gift">ship as a gift?</label>
            </p>

            <p>
                <input type="radio" name="" id="home" value="home" v-model="order.method"/>
                <label for="home">Home</label>
                <input type="radio" name="" id="business" value="business" v-model="order.method"/>
                <label for="business">Business</label>
            </p>
            <h2>order information</h2>
            <p>First name: {{order.firstname}}</p>
            <p>Last name: {{order.lastname}}</p>
            <p>Address: {{order.address}}</p>
            <p>City: {{order.city}}</p>
            <p>State: {{order.state}}</p>
            <p>Zip Code: {{order.zip}}</p>
            <p>Gift: {{order.gift}}</p>
            <p>Method: {{order.method}}</p>
            <button v-on:click="submitForm">Place Order</button>
            
            </main>
            </section>
        </main>

    </div>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                sitename:"Vue.js Pet Depot",  
                Product: {
                    id: 1000,
                    title: "Cat Food, 28lb Bag",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/CAT FOOD2.png',
                    availableInventory: 7

                },
                math: {
                    id: 2000,
                    title: "MATH",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/math.jpg',
                    availableInventory: 30

                },
                music: {
                    id: 3000,
                    title: "MUSIC",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/music.jpg',
                    availableInventory: 35

                },
                basketball: {
                    id: 4000,
                    title: "BASKETBALL",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/basketball.png',
                    availableInventory: 24

                },
                artandcraft: {
                    id: 5000,
                    title: "ART AND CRAFT",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/artandcraft.jpg',
                    availableInventory: 40

                },
                robotics: {
                    id: 6000,
                    title: "ROBOTICS",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/robotics.png',
                    availableInventory: 15

                },
                poetry: {
                    id: 7000,
                    title: "POETRY",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/poetry.jpeg',
                    availableInventory: 18

                },
                chess: {
                    id: 8000,
                    title: "CHESS",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/chess.png',
                    availableInventory: 21

                },
                culinary: {
                    id: 9000,
                    title: "CULINARY",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/CULINARY.jpeg',
                    availableInventory: 12

                },
                fashion: {
                    id: 10000,
                    title: "FASHION",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/fashion.png',
                    availableInventory: 5

                },
                photography: {
                    id: 11000,
                    title: "PHOTOGRAPHY",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/photography.png',
                    availableInventory: 24

                },

                volleyball: {
                    id: 12000,
                    title: "VOLLEYBALL",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/volleyball.jpeg',
                    availableInventory: 12

                },
                football: {
                    id: 13000,
                    title: "FOOTBALL",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/football.jpeg',
                    availableInventory: 40
                },
                gaming: {
                    id: 14000,
                    title: "GAMING",
                    description: "the best and healthy cat food for your cat",
                    price: 5000,
                    image: 'img/gaming.png',
                    availableInventory: 14

                },
                order: {
                    firstname: '',
                    lastname: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'home',
                    gift: 'do not send as Gifts',
                    sendGift: 'Send as gift',
                    dontsendGifts: 'Do not send as gift',

                    
                },
                states: {
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    },
                cart: [],
                showproduct: true,
                

            },
            methods: {
                addToCart: function() {
                    this.cart.push(this.Product.id);
                },
                showCheckout(){
                    this.showproduct = !this.showproduct ? true : false;
                },
                submitForm(){
                    alert("order submitted");
                }

            },
            computed: {
                cartItemCount: function() {
                    return this.cart.length;
                },
                canAddToCart: function() {
                    return this.Product.availableInventory > this.cartItemCount;
                }
            }
        });
    </script>

</body>